<div class="notepage">

    <div class="container all-lists">

        <div class="list row" ng-repeat="(listId, list) in lists">

            <div class="eachlist">

                <div class="info">
                    <a href="#/lists/{{ listId }}">
                        {{ list.title }} - {{ list.date }}
                    </a>
                </div>

                <div>
                    <span> created by <a href="#/users/{{ list.owner }}">{{ list.owner }}</a></span>
                    <a ng-click="deleteList(listId)" ng-show="signedIn() && list.owner === currentUser.username">Delete</a>
                </div>

            </div>

        </div>

        <a class="row" href="#/createList" ng-show="signedIn()">
            <button class="pagebutton">Make a new list</button>
        </a>
    </div>

</div>


