

<div class="container profile">

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#submissions" data-toggle="tab">Submissions</a></li>
            <li><a data-target="#comments" data-toggle="tab">Comments</a></li>
        </ul>
    </div>

</div>

<div class="tab-content">
    <div ng-include="'views/lists.html'" class="tab-pane active" id="submissions" ng-controller="ListsController"></div>
    <div class="notepage lists-page tab-pane" id="comments">
        <div class="eachlist post row" ng-repeat="(commentId, comment) in comments">

            <div class="eachitem">
                <div class="info">
                    <a href="#/lists/{{ comment.listId }}">
                        {{ commentedLists[comment.listId].title }}</a>
                </div>

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
