<div class="notebook">

    <div class="auth-forms">

        <h2>My Shopping List</h2>

        <form ng-submit="register()" name="form">

            <div ng-show="error || form.username.$error">
                <p ng-show="error" class="text-danger">{{ error }}</p>
                <p ng-show="form.username.$error.taken" class="text-danger">Username is already taken.</p>
                <p ng-show="form.username.$error.invalid" class="text-danger">Username contains invalid characters.</p>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <p>Email:</p>
                </div>
                <div class="col-md-9">
                    <input style="display: inline;" type="email" ng-model="user.email" class="form-control" required />
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                    <p>Username:</p>
                </div>
                <div class="col-md-9">
                    <input style="display: inline;" type="text" ng-model="user.username" name="username" check-username class="form-control" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">
                    <p>Password:</p>
                </div>
                <div class="col-md-9">
                    <input style="display: inline;" type="password" ng-model="user.password" class="form-control" required>
                </div>

            </div>

            <div class="row submit-button">
                <input type="submit" value="Register" class="btn btn-primary form-control"/>
            </div>

        </form>

    </div>

</div>
