<div class="notepage eachlist">

        <div class="list row">

            <div>
                <div class="info list-title">
                    <span>{{ list.title }} - {{ list.date }} - created by <a href="#/users/{{ list.owner }}">{{ list.owner }}</a></span>
                </div>
            </div>

        </div>

        <div ng-repeat="(requestId, request) in list.requests" class="row eachitem">
            <div>
                <span><input type="checkbox"/> {{ request.text }} - </span>
                <span class="author">posted by <a href="#/users/{{ request.username }}">{{ request.username }}</a>
                    <a ng-click="removeRequest(request, requestId)"
                       ng-show="signedIn() && request.username === currentUser.username">(delete)</a>
                </span>
            </div>
        </div>

        <div class="cmt-form">
            <div ng-hide="signedIn()">
                <p><a href="#/login">Sign in</a> to make a request.</p>
            </div>

            <form class="requestbox" ng-show="signedIn()">
                <input type="text" ng-model="request.text" placeholder="List a request" class="form-control" ><br/>
                <input type="submit" ng-hide="!request.text.length" ng-click="addRequest()" value="Submit Request"
                       class="btn btn-primary"/>
            </form>
        </div>

</div>

