<div class="container posts-page">

    <div class="list row">
        <div class="col-xs-1">

        </div>

        <div class="col-md-9 col-xs-11">
            <div class="info">
                    {{ list.title }} - {{ list.date }}
            </div>
            <div>
                -
                <span>created by <a href="#/users/{{ list.owner }}">{{ list.owner }}</a></span>
            </div>
        </div>

        <div class="col-md-2">

        </div>
    </div>

    <div ng-repeat="(requestId, request) in list.requests" class="row cmt">
        <div class="col-md-12">
            <p><input type="checkbox"/> {{ request.text }}</p>
            <p class="author">posted by <a href="#/users/{{ request.username }}">{{ request.username }}</a>
            <a ng-click="removeRequest(request, requestId)"
               ng-show="signedIn() && request.username === currentUser.username">(delete)</a></p>
        </div>
    </div>

    <div class="cmt-form">
        <div ng-hide="signedIn()">
            <p><a href="#/login">Sign in</a> to make a request.</p>
        </div>

        <form ng-show="signedIn()">
            <input type="text" ng-model="request.text" placeholder="List a request" class="form-control" ><br/>
            <input type="submit" ng-hide="!request.text.length" ng-click="addRequest()" value="Submit Request" class="btn btn-primary"/>
        </form>
    </div>
</div>